
/* #sample-card {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  width: 20%;
}
#sample-pen {
  z-index: 50;
} */

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: rgb(12,57,83);
}

/*************** SLIDEOUT MENU STYLES ***************/
#menu-container {
  height: 600px;
  width: 300px;
  float: right;
  padding: 20px;
  margin: 0;
  background-color: #dfe3e6;
}
#menu-container a, #show-menu-link a {
  text-decoration: none;
  color: inherit;
}
#show-menu-link {
  float: right;
}
#menu-options-container {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#menu-options-container li {
  padding-top: 10px;
}
.header-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header-container li {
  display: inline-block;
  padding: 5px 5px;
}
.back-arrow {
  float: left;
}
.close-button {
  float: right;
}
.back-arrow, .close-button {
  font-size: 1.5em;
  color: grey;
}
.menu-option span {
  vertical-align: middle;
  margin-right: 12px;
}
.change-background-tile {
  border: none;
  width: 137.5px;
  height: 100px;
  border-radius: 7px;
  /* padding: 5px 5px; */
  margin: 5px 5px;
  background-size: cover;
  background-repeat: no-repeat;
}
.change-background-tile:focus {
  outline: none;
}
#background-menu-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*************** ADD LISTS ***************/
.work-board {
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

#list-wrapper {
  margin: 8px 5px 10px 0px;
  padding: 2px;
  border-radius: 4px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: row;
}

.list {
  background: transparent;
}

.list-container {
  /* padding: 4px 8px; */
  border-radius: 4px;
  width: 276px;
  background-color: rgb(226,228,230);
  border: none;
  margin: 2px 5px;
}

.list-heading {
  display: flex;
  flex-direction: row;
  padding: 4px 8px; 
  margin-bottom: 5px;
}

.list .list-heading h3 {
  margin: 2px 24px 0px 3px;
  width: 75%;
  border-radius: 4px;
  outline:none;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
}

.list .list-heading h3:focus{
  border: solid 2px   rgb(91,164,207);
  background-color: rgb(255, 255, 255);
}

.ellipsis {
  /* display: inline-block; */
  width: 33px;
  text-align: center;
  border-radius: 4px;
  margin: 0px 1px 0px 0px;
  padding: 0px;
  float: right;
}

form.add-item-form .ellipsis{
  margin-top: 8px;
  margin-right: 8px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: rgb(131, 140, 145);
  font-size: 19px;
  vertical-align:middle;
  /* line-height:3px;  */
  text-align:center;
}

form#add-list-form { 
  margin-top: 12px;
  width: 270px;
  /* transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out; */
}

.form-inner-container {
  background-color: rgb(226,228,230);
  padding: 6px;
  border-radius: 4px;
}

input[type=text] {
  height: 32px;
  display: block;
  border-radius: 4px;
  border: solid 1px   rgb(91,164,207);
  width: 247px;
  font-size: 14px;
  outline: none;
  box-shadow: 0 0 0 1px   rgb(91,164,207);
  word-wrap: break-word;
  overflow: hidden;
  color: rgb(131, 140, 145);
  padding-left: 10px;
}

input[type=submit] {
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  background-color: rgb(90, 172, 68);
  box-shadow: 0 1px 0 0 rgb(63, 111, 33);
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  margin-top: 10px 0px 0 10px;
}

form.add-item-form div input[type=submit] {
  margin-left: 10px;
}

input[type=submit]:hover {
  background-color: rgb(71, 138, 53);
}

input[type=button]{
  margin-right: -5px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: rgb(131, 140, 145);
}

input[type=button]:hover{
  color: rgb(103,109,112);
}

form.add-item-form {
  margin-top: 20px;
      margin-bottom: -15px;
}

form.add-item-form textarea {
  outline: none;
  width: 87%;
  height: 50px;
  max-height: 120px;
  margin-top: -5px;
  margin-left: 8px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0px 1px 0px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px;
  display: block;
  word-wrap: break-word;
  resize: none;
}

.card {
  width: 87%;
  margin-left: 8px;
  box-shadow: 0px 1px 0px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  min-height: 18px;
  word-wrap: break-word;
  padding: 0px 10px;
  margin-top: 9px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.card:hover {
  background-color: rgba(248,249,249,0.7);
}
.card p{
  position: relative;
  padding: 0px;
  margin: 6px 0;
  font-size: 14px;
}

.card a{
  position: absolute;
  margin-left: 220px;
}

.fa-pen {
  font-size: 10px;
  margin: 0;
  padding: 7px;
  border-radius: 4px;
}
.fa-pen:hover {
  background-color: rgb(226,228,230);
}

#add-list-form, .add-item-form {
  display: none;
}

.link-wrapper {
  display: inline-block;
  margin-top: 20px;
}

a#show-list-form, a.show-card-form {
  text-decoration: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgba(1, 1, 1, 0.3);
  padding: 10px 15px 10px 20px;
  width: 242px;
  text-align: left;
  font-size: 14px;
  height: 17px;
}

a.show-card-form {
  border-top-right-radius: 0px; 
  border-top-left-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: transparent;
  display: inline-block;
  width: 242px;
  color: rgb(131, 140, 145);
}

a.show-card-form:hover, .ellipsis:hover {
  background-color: rgba(131, 140, 145, 0.2)
}
a#show-list-form:hover {
  background-color: rgba(1, 1, 1, 0.4);
}

a#show-list-form span:first-child {
  padding-right: 172px;
}

a#show-list-form span:nth-child(2), a.show-card-form span:nth-child(2){
  display: none;   /* hides the 'Add another link' when window loads */
} 

.card-link-container a:hover {
  background-color: rgba(131,140,145, 0.2);
  background-color: rgba(214,218,220, 0.5);
}

/*************** CARD OPTIONS ***************/
#card-options-container {
  position: absolute;
}

.card-options-ul {
  padding: 0;
  margin: 0;
}

.card-options-ul li {
  list-style: none;
  margin: 7px 0;
}

.card-options-ul a {
  background-color: black;
  opacity: 0.8;
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
  font-size: inherit;
}

/* Label container */
#labels-container {
  background-color: white;
  width: 200px;
  height: 200px;
  z-index: 100;
  bottom: 0;
  position: absolute;
}

.label-tile {
  display: block;
  width: 180px;
  height: 30px;
  margin: 5px auto;
  border-radius: 5px;
}

.card-label-tile {
  margin: 5px;
  display: block;
  width: 60px;
  height: 10px;
  border-radius: 10px;
}


/*************** OVERLAY MODAL ***************/
/* Label Option */
#overlay-container {
  border: 2px solid black;
  position: absolute;
  margin: 20px auto;
  height: 70%;
  width: 70%;
  left: 15%;
  bottom: 15%;
  z-index: 100;
}

.overlay-opacity {
  opacity: 0.3;
}


.add-item-form > div,
.list-heading,
.card > p{
  user-select: none;
}
.card {
  user-select: auto;
  z-index: 200;
}