/*** Card container ***/
.cardContainer {
  padding-top: 20px;
  width: 22%;
  max-width: 24%;
  /* height: 300px; */
  background-color: rgb(237, 239, 240); 
  /* This color is temporary and will be changed to neutral once it is placed inside a modal */
  border-radius: 3px; /*** for rounded corners ***/
}

/* Temporary heading - to be changed to a dynamic heading once the modal is created */
.cardContainer h4 {
  padding-left: 10px;
}

/*** CARD ***/

/*** Adding shadows for card effect ***/
#newCard {
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  /* padding: 1px 20px; */
  background-color: rgb(255, 255, 255);
  min-height: 18px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 8px 10px;
}

#newCard:hover {
  background-color: rgb(248, 249, 249);
}

textarea {
  outline: none; /* Removes the blue glow from around textarea */
  /* resize: none; Removes resize handle  */
  margin: auto;
  /* width: 210px; */
  width: 86%;
  height: 50px;
  max-height: 120px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px;
  display: block;
  word-wrap: break-word;
}

.addCardBtn {
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  background-color: rgb(90, 172, 68);
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  margin-top: 10px;
  margin-left: 10px;
}

button {
  outline: none; /* Removes the blue glow from around textarea */
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  background-color: rgb(90, 172, 68);
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#createNewCloseBtn {
  color: rgb(131, 140, 145);
  font-size: 20px;
  margin-left: 10px;
}

a#addCardLink,
a#addAnotherCardLink {
  padding-left: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(131, 140, 145);
}

a#addAnotherCardLink {
  display: none;
}

a#addCardLink:hover,
a#addAnotherCardLink:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
}



