
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: rgb(12,57,83);
}

/*************** SLIDEOUT MENU STYLES ***************/
#menu-container {
  height: 80%;
  width: 25%;
  float: right;
  padding: 20px;
  margin: 0;
  background-color: #dfe3e6;
}
#menu-container a, #show-menu-link a {
  text-decoration: none;
  color: inherit;
}
#show-menu-link {
  float: right;
}
#menu-options {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#menu-options li {
  padding-top: 10px;
}
.header-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header-container li {
  display: inline-block;
  padding: 5px 5px;
}
.back-arrow {
  float: left;
}
.close-button {
  float: right;
}
.change-background-tile {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 5px 5px;
}
.change-background-tile:focus {
  outline: none;
}
.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*************** CREATE LIST ***************/

.listWrapper {
  display: flex;
  flex-direction: row;
}

.listTextAreaContainer, .listContainer {
  /* padding-top: 6px; */
  /* padding-bottom: 5px; */
  /* width: 22%; */
  width: 280px;
  /* height: 300px; */
  background-color: rgb(237, 239, 240);
  border-radius: 3px; /*** for rounded corners ***/
  /* display: inline-block; */
  /* box-sizing: border-box; */
  vertical-align: top;
  display: flex;
  flex-direction: column;
}
/* #listTextArea {
  width: 50%;
}

#list-link-container {
 width: 50%;
} */

.listContainer {
  display: none;
}

#list-link-container a{
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px; /*** for rounded corners ***/
}

a#addListLink, a#addAnotherListLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(1, 1, 1, 0.3);
  padding-left: 10px;
}

a#addListLink:hover, a#addAnotherListLink:hover {
  background-color: rgba(1, 1, 1, 0.4);
}

.listContent {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.listHeaderContainer {
  display: flex;
  /* justify-content: flex-end; */
  /* height: 30px; */
}
.listHeaderContainer h2{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.listTitle {
  padding-left: 10px;
  width: 87%;
}

.ellipsisContainer {
  margin-left:80px;
  width: 13%;
  vertical-align: middle;
  border-radius: 3px; /*** for rounded corners ***/
}

.ellipsisContainer:hover {
  background-color: rgba(214,218,220, 0.5);
}
.ellipsisContainer a {
  vertical-align: middle;
  margin-left: 12px;
  text-align: center;
  text-decoration: none;
  color: rgb(12,57,83);
}
.fa-ellipsis-h {
  font-size: 12px;
  margin-top: 15px;
}

/*** Card container ***/
.cardContainer {
  max-width: 100%;
}

/*************** ADD - DELETE - EDIT CARDS ***************/

/*** Adding shadows for card effect ***/
#newCard {
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  /* padding: 1px 20px; */
  background-color: rgb(255, 255, 255);
  min-height: 18px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 8px 10px;
}

#newCard:hover {
  background-color: rgb(248, 249, 249);
}

/* textarea { */
#textAreaTitle, #textAreaTitle2, #userInput {  
  outline: none; /* Removes the blue glow from around textarea */
  /* resize: none; Removes resize handle  */
  margin: auto;
  /* width: 210px; */
  width: 86%;
  height: 50px;
  /* min-height: 18px; */
  max-height: 120px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px;
  display: block;
  word-wrap: break-word;
}

#textAreaTitle, #textAreaTitle2 {  
  outline: auto;
  outline-color: rgb(2,106,167);
  height: 20px;
  max-height: 120px;
  border: none;
}
#textAreaTitle {
  margin-top: 6px;
  height: 16px;
}

#textAreaTitle2 {
  outline: none; 
  box-shadow: 0 2px 0px 0 rgb(237, 239, 240);
  resize: none; /* Removes resize handle  */
  color: rgb(12,57,83);
  font-weight: bold;
  background-color: transparent;
}

#textAreaTitle2:focus {
  outline: auto;
  outline-color: rgb(2,106,167);
  resize: auto;
  color: rgb(12,57,83);
  background-color: rgb(255, 255, 255);
}

.addCardBtn {
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  background-color: rgb(90, 172, 68);
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  margin-top: 10px;
  margin-left: 10px;
}

button {
  outline: none; /* Removes the blue glow from around textarea */
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  background-color: rgb(90, 172, 68);
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#createNewCloseBtn {
  color: rgb(131, 140, 145);
  font-size: 20px;
  margin-left: 10px;
}

a#addCardLink,
a#addAnotherCardLink {
  padding-left: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(131, 140, 145);
}

a#addAnotherListLink, a#addAnotherCardLink {
  display: none;
}

a#addCardLink:hover,
a#addAnotherCardLink:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
}

.card-link-container a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-right-radius: 3px; /*** for rounded corners ***/
  border-bottom-left-radius: 3px; /*** for rounded corners ***/
}

.card-link-container a:hover {
  background-color: rgba(131,140,145, 0.2);
  background-color: rgba(214,218,220, 0.5);
}