/*************** SLIDEOUT MENU STYLES ***************/
#menu {
  width: 15%;
  height: 80%;
}
#show-menu-link {
  float: right;
}
#menu-container {
  height: 80%;
  width: 20%;
  float: right;
  overflow-x: hidden;
  transition: all 0.5s ease-out;
  padding-top: 10px;
}
#menu-container a, #show-menu-link a {
  text-decoration: none;
  color: inherit;
}
#change-background-page {
  display: none;
}
.change-background-tile {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.change-background-tile:focus {
  outline: none;
}
.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
